name: PHP

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
      - release
  pull_request:
    types:
      - opened
      - ready_for_review
      - synchronize
    # Only run on a given PR if relevant files have changed.
    paths:
      - '**.php'
      - 'composer.json'
      - 'composer.lock'
      - 'phpcs.xml'

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  php:
    name: PHP
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: [ '8.2' ]

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up PHP
        uses: shivammathur/setup-php@cf4cade2721270509d5b1c766ab3549210a39a2a # v2.33.0
        with:
          php-version: 8.2
          coverage: none
          tools: composer, parallel-lint

      - name: Install Composer Dependencies
        uses: ramsey/composer-install@a2636af0004d1c0499ffca16ac0b4cc94df70565 # v3.1.0

      - name: Make Composer packages available globally
        run: echo "${PWD}/vendor/bin" >> $GITHUB_PATH

      - name: Check syntax
        run: parallel-lint --exclude .git --exclude .github --exclude vendor .

      - name: Fetch base and head branches
        run: |
          git fetch origin ${{ github.base_ref }}:${{ github.base_ref }}
          git fetch origin ${{ github.head_ref }}:${{ github.head_ref }}

      - name: Lint changed files
        id: phpcs
        run: |
          composer lint -- --report-full --report-checkstyle=./phpcs-report.xml

      - name: Report PHPCS results
        if: ${{ always() && steps.phpcs.outcome == 'failure' }}
        run: |
          cs2pr ./phpcs-report.xml
