name: Production Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  release:
    name: "Update release branch"
    uses: humanmade/hm-github-actions/.github/workflows/build-and-release-node.yml
    with:
      node_version: 24
      source_branch: main
      release_branch: release
      built_asset_paths: assets/dist
      build_script: |
        npm ci
        npm run build
